  <form>
    <% if @book.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@book.errors.count, "error") %> prohibited this book form beign saved:</h3>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
            <% end %>
          </ul>
      </div>
    <% end %>
    <%= form_with model: @book, local:true do |f| %>
      <div class="form-group">
        <label for="book_title">Title</label>
        <input type="title" class="form-control" id="book_title">
      </div>

      <div class="form-group">
        <label for="book_body">Opinion</label>
        <input type="body" class="form-control" id="book_body">
      </div>

      <button class="btn btn-success" type="submit">Create Book</button>
     <% end %>
  </form>