<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= form_with model: @user do |f| %>
      <form>
        <div class="form-group">
          <label for="inputName">Name</label>
          <br>
          <input type="name" class="form-control" id="inputName">
        </div>
        <div>
          <label for="inputImage">Image</label>
          <br>
          <input type="file" class="form-control-file" id:="inputImage">
        </div>
        <div>
          <label for="inputIntroduction">introduction</label>
          <br>
          <input type="itroduction" class="form-control" id="inputIntroduction">
        </div>
        <button type="button" class="btn btn-secondary">Update User</button>
      </form>
      <% end %>
    </div>
  </div>
</div>


