<%= render "info" %>

<h1>Books</h1>
 <table>
   <thead>
     <tr>
       <th>Title</th>
       <th>Opinion</th>
       <th colspan="2"></th>
     </tr>
   </thead>
   <tbody>
    <tr>
       cd 
    </tr>
   </tbody>
 </table>