<h1>Books</h1>
 <table>
   <thead>
     <tr>
       <th>Title</th>
       <th>Opinion</th>
       <th colspan="2"></th>
     </tr>
   </thead>
   <tbody>
    <tr>
     <% @books.each do |book| %>
      <td><%= image_tag @user.get_profile_image %></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
     <% end %>
    </tr>
   </tbody>
 </table>