<h1>Welcome to Bookers!</h1>
<p>in Books,<br>
    you can share and exchange your opinions , inpressions , and emotions<br>
    about various books!
</p>

<%= link_to 'Log_in', new_user_session_path %><br>
<%= link_to 'Sign_up', new_user_registration_path %>

<p>CopyRight Infratop.inc</p>
